<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSF-ACCOUNTS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/img/bank.png" type="image/x-icon">
    <script defer src="script.js"></script>

</head>
<body>
    <div class="navbar">
        <div class="nav-logo">
         <a href="/index.html">
            <img src="/img/bank.png" alt="Bank Logo" width="50">
        </a>
        </div>
        <ul class="list">
            <li class="nav-item"><a href="/index.html" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="/reg.html" class="nav-link">REGISTER</a></li>
            <li class="nav-item"><a href="/acc" class="nav-link">ACCOUNTS</a></li>
            <li class="nav-item"><a href="/trans.html" class="nav-link">TRANSFER</a></li>
            <li class="nav-item"><a href="/pay.html" class="nav-link">PAYMENTS</a></li>
            <li class="nav-item"><a href="/cont.html" class="nav-link">CONTACT</a></li>
        </ul>
</div>
        <div class="account">
        <section id="account" class="account-section">
         <h2 class="section-heading">All Bank Accounts</h2>
         <div class="button-container">
          <button type="submit" class="btn" value="submit">OPEN!!</button>
        </div>
       <table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Account Number</th>
      <th>Phone Number</th>
      <th>Account Type</th>
      <th>Current Balance</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.fullname}}</td>
      <td>{{this.accountNumber}}</td>
      <td>{{this.phnum}}</td>
      <td>{{this.acctype}}</td>
      <td>{{this.initial_deposit}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
        </div>
                  
    </div>
    <script src="script.js"></script>

</body>
</html>